<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.e_lementarz.elementarz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.words.WordsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MenuActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.mainly.NumbersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.BricksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.CompareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.BricksOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.CompareCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.AddingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.AddingCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.ChoiceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.ChoiceCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.mainly.NumbersPracticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MenuActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.mainly.NumbersTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MenuActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.mainly.NumbersResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MenuActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.mainly.NumbersCustomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MenuActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.SubtractionActivity"
            android:label="@string/title_activity_subtraction"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.numbers.mainly.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.numbers.SubtractionCheckActivity"
            android:label="@string/title_activity_subtraction_check"
            android:parentActivityName=".activities.numbers.mainly.NumbersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.numbers.mainly.NumbersActivity" />
        </activity>
    </application>

</manifest>