<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.e_lementarz.elementarz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WordsActivity"
            android:label="@string/title_activity_words"
            android:parentActivityName=".activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.NumbersActivity"
            android:label="@string/title_activity_numbers"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.NumbersBricksActivity"
            android:label="@string/title_activity_numbers_bricks"
            android:parentActivityName=".activities.NumbersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.NumbersCompareActivity"
            android:label="@string/title_activity_numbers_compare"
            android:parentActivityName=".activities.NumbersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.NumbersOrderActivity"
            android:label="@string/title_activity_numbers_order"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.NumbersCompareCheckActivity"
            android:label="@string/title_activity_numbers_compare_check"
            android:parentActivityName=".activities.NumbersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.NumbersActivity" />
        </activity>
        <activity
            android:name=".activities.NumbersBricksAdding"
            android:label="@string/title_activity_numbers_bricks_adding"
            android:parentActivityName=".activities.NumbersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.e_lementarz.elementarz.activities.NumbersActivity" />
        </activity>
    </application>

</manifest>